
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)=" openNew(); addProfile()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Teachers</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">Identifier <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
                        <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
                        <th pSortableColumn="documentCategory">Document Category <p-sortIcon field="documentCategory"></p-sortIcon></th>
                        <th pSortableColumn="scientificCategories">Scientific Categories <p-sortIcon field="scientificCategories"></p-sortIcon></th>
                        <th pSortableColumn="phone">Phone <p-sortIcon field="phone"></p-sortIcon></th>
                        <th pSortableColumn="mobile">Mobile <p-sortIcon field="mobile"></p-sortIcon></th>
                        <th pSortableColumn="responsibility">Responsibility <p-sortIcon field="responsibility"></p-sortIcon></th>
                        <th pSortableColumn="relationshipType">Relationship Type <p-sortIcon field="relationshipType"></p-sortIcon></th>
                        <th></th>
                    </tr>
<!--                    <tr>-->
<!--                        <th style="width: 4rem">-->
<!--                            <p-columnFilter type="text" field="id"></p-columnFilter>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <p-columnFilter type="text" field="name"></p-columnFilter>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <p-columnFilter type="text" field="email"></p-columnFilter>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <p-columnFilter type="text" field="title"></p-columnFilter>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <p-columnFilter type="text" field="documentCategory"></p-columnFilter>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <p-columnFilter type="text" field="scientificCategories"></p-columnFilter>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <p-columnFilter type="text" field="phone"></p-columnFilter>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <p-columnFilter type="text" field="mobile"></p-columnFilter>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <p-columnFilter type="text" field="responsibility"></p-columnFilter>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <p-columnFilter type="text" field="relationshipType"></p-columnFilter>-->
<!--                        </th>-->
<!--                        <th>-->
<!--                            <p-columnFilter field="representative" matchMode="in" [showMenu]="false">-->
<!--                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">-->
<!--                                    <p-multiSelect [ngModel]="value" appendTo="body" [options]="representatives" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name" [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} items'">-->
<!--                                        <ng-template let-option pTemplate="item">-->
<!--                                            <div class="inline-block vertical-align-middle">-->
<!--                                                <img [alt]="option.label" src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}" width="24" class="vertical-align-middle" />-->
<!--                                                <span class="ml-1 mt-1">{{ option.name }}</span>-->
<!--                                            </div>-->
<!--                                        </ng-template>-->
<!--                                    </p-multiSelect>-->
<!--                                </ng-template>-->
<!--                            </p-columnFilter>-->
<!--                        </th>-->
<!--                    </tr>-->
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">ID</span>
                            {{product.id || product.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{product.name}}
                        </td>

                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Email</span>
                            {{product.email}}
                        </td>

                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Title</span>
                            {{product.titulo}}
                        </td>

                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Document Category</span>
                            {{product.categoria_doc}}
                        </td>

                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Scientific Categories</span>
                            {{product.categorias_cientificas}}
                        </td>

                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Phone</span>
                            {{product.telefono}}
                        </td>

                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Mobile</span>
                            {{product.movil}}
                        </td>

                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Responsibility</span>
                            {{product.responsabilidad}}
                        </td>
                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Relationship Type</span>
                            <span [class]="'product-badge tipo_relacion-' + (product.tipo_relacion ? product.tipo_relacion.toLowerCase() : '')">{{product.tipo_relacion}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>
                </div>
                <div class="field">
                    <label for="name">Email</label>
                    <input type="text" pInputText id="email" [(ngModel)]="product.email" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.email}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.email">email is required.</small>
                </div>
                <div class="field">
                    <label for="name">Title</label>
                    <input type="text" pInputText id="titulo" [(ngModel)]="product.titulo" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.titulo}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.titulo">titulo is required.</small>
                </div>
                <div class="field">
                    <label for="name">Document Category</label>
                    <input type="text" pInputText id="categoria_doc" [(ngModel)]="product.categoria_doc" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.categoria_doc}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.categoria_doc">categoria docente is required.</small>
                </div>
                <div class="field">
                    <label for="name">Scientific Categories</label>
                    <input type="text" pInputText id="categorias_cientificas" [(ngModel)]="product.categorias_cientificas" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.categorias_cientificas}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.categorias_cientificas">categorias cientificas is required.</small>
                </div>
                <div class="field">
                    <label for="name">Responsibility</label>
                    <input type="text" pInputText id="responsabilidad" [(ngModel)]="product.responsabilidad" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.responsabilidad}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.responsabilidad">responsabilidad is required.</small>
                </div>
                <div class="field">
                    <label for="status">Relationship Type</label>
                    <p-dropdown [(ngModel)]="product.tipo_relacion" inputId="tipo_relacion" optionValue="label" [options]="statuses" placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="product && product.tipo_relacion" [class]="'product-badge status-' + product.tipo_relacion.toString().toLowerCase()">{{product.tipo_relacion}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>


                <div class="formgrid grid">
                    <div class="field col">
                        <label for="telefono">Phone</label>
                        <p-inputNumber id="telefono" [(ngModel)]="product.telefono" ></p-inputNumber>
                    </div>
                    <div class="field col">
                        <label for="movil">Mobile</label>
                        <p-inputNumber id="movil" [(ngModel)]="product.movil"></p-inputNumber>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
